---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: aks-egress-manager-role
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - nodes/status
  verbs:
  - create
  - delete
  - get
  - patch
  - update
  - watch
- apiGroups:
  - egress.azure-firewall-egress-controller.io
  resources:
  - egressrules
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - egress.azure-firewall-egress-controller.io
  resources:
  - egressrules/finalizers
  verbs:
  - update
- apiGroups:
  - egress.azure-firewall-egress-controller.io
  resources:
  - egressrules/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
